html{
    background-color:white;
    font-family: Helvetica;
  }
  a button{
      background-color: limegreen;
      border: none;
      border-radius: 5px;
      color: ghostwhite;
      font-size: x-large;
      
  }
  .main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .header img{
      height: 90px;
      width: 90px;
  }
  .header{
      font-family: Helvetica;
      color:gray;
  }
  .container{
    font-family:Helvetica;
    background-color:#71d122;
    border-radius:5px;
    width:500px;
    padding: 10px;
  }
  #info{
    color:white;
  }