<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <div>
		<span id="info">
			{{read_serial}}
		</span>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
  
    <script type="text/javascript">
    window.setTimeout(function () {
		
		location.href = "http://myurl.com";
	}, 5000); // refresh/redirect after 5 seconds.
    </script>
  
</body>
</html>
